.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
  color: #090909;
  font-weight: 500;
  width: 100%;
}

.iconContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two icons per row */
  gap: 20px;
  width: 100%;
  flex-grow: 1;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensure icon takes full width */
  height: 100px; /* Increase height to fill space */
  border-radius: 8px;
  cursor: pointer;
  background-color: #ebecec;
  color: #d2d2d2;
}

.iconWrapper.active {
  background-color: #e6edfb;
  border: 2px solid #007aff;
  color: #007aff;
}

.iconWrapper svg {
  color: #d2d2d2;
}

.iconWrapper.active svg {
  color: #fff;
}

.iconText {
  margin-top: 8px;
  font-size: 14px;
  color: #d2d2d2;
  transition: color 0.3s;
}

.iconText.activeText {
  color: #007aff; /* Change text color to blue when active */
}

.uploadButton {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #ebecec;
  color: #d2d2d2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.uploadButton.active {
  background-color: #007aff;
  color: white;
}
