/* Module.module.css */

/* Define colors for the module */
:root {
  --color-1: #1542B4;
  --color-2: #F48FFA;
  --color-3: #61A5F3;
  --color-4: #8E6CDB;
  --color-5: #B6C1D6;
  --color-6: #3C7CC6;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Ensure padding and border are included in width */
  min-height: 150px;
  border: 1px solid; /* Border color will be set inline */
}

.leftSection {
  flex: 1;
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.image {
  max-width: 100%; /* Ensure image fits within container */
  max-height: 100%; /* Ensure image fits within container */
  border-radius: 8px;
}

.rightSection {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
}

.textContainer {
  margin-bottom: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moduleName {
  font-size: 14px;
  color: #090909;
  font-weight: 500;
}

.moduleDescription {
  font-size: 12px;
  color: #736B6B;
  margin: 0;
}

.bottomTextContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moduleCode {
  font-size: 14px;
  color: var(--color-1); /* This will be overwritten in the inline style */
  background-color: var(--color-1-15); /* This will be overwritten in the inline style */
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid var(--color-1); /* This will be overwritten in the inline style */
}

.icon {
  border-radius: 50%;
}
