/* CreateChat.module.css */
.createChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  font-size: var(--font-size-heading);
  color: var(--color-dark);
  font-weight: var(--font-weight-medium);
}

.inputContainer {
  display: flex;
  align-items: center;
  padding: var(--spacing-medium);
  position: sticky;
  bottom: 0;
  z-index: 10;
  width: 600px;
  position: relative;
}

.input {
  font-size: var(--font-size-base);
  width: 100%;
  padding: var(--spacing-small) var(--spacing-medium);
  border: 0.1px solid var(--color-line-2);
  border-radius: var(--radius-large);
  box-shadow: 0 1px 2px rgba(160, 160, 160, 0.05);
}

.input::placeholder {
  color: var(--color-light-gray);
}

.input:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-color: var(--color-secondary);
}

.input:focus {
  outline: none;
  border-color: var(--color-secondary);
}

.sendButton,
.selectButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--spacing-small);
  border: none;
  padding: var(--spacing-medium);
  border-radius: 50%;
  cursor: pointer;
}

.sendButton {
  background-color: var(--color-secondary-2);
}

.selectButton {
  background-color: rgba(182, 193, 214, 0.15);
}

.noBackground {
  background-color: transparent !important; /* Remove background when module is selected */
}

.moduleCode {
  font-size: var(--font-size-small);
  color: var(--color-dark-2);
  font-weight: var(--font-weight-medium);
}

.dropdownList {
  position: absolute;
  top: 100%;
  right: 10%;
  background-color: var(--color-white);
  border: 1px solid var(--color-light-gray);
  border-radius: var(--radius-small);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 20;
  max-height: 200px;
  overflow-y: auto;
  width: 200px;
}

/* Custom scrollbar styles */
.dropdownList::-webkit-scrollbar {
  width: 2px;
}

.dropdownList::-webkit-scrollbar-track {
  background: var(--color-light-gray);
  border-radius: 2px;
}

.dropdownList::-webkit-scrollbar-thumb {
  background: var(--color-muted);
  border-radius: 2px;
}

.dropdownList::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark);
}

.dropdownItem {
  display: flex;
  align-items: center;
  padding: var(--spacing-small) var(--spacing-medium);
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdownItem:hover {
  background-color: var(--color-text);
}

.dropdownText {
  font-size: var(--font-size-small);
  color: var(--color-dark);
}

.radio {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  margin-right: var(--spacing-small);
  background-color: var(--color-text);
  border: none;
  display: grid;
  place-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 50%;
}

.radio:checked {
  background-color: var(--color-secondary-2);
}

.radio:checked::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--color-secondary);
  border-radius: 50%;
}
